{% block %}
    {% client %}(Do you know|Do you have any idea) (?P<query>.*){% endclient %}
    {% response %}{% call do_you_know: %query %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(\do you know about|who is|what is) (?P<query>.*){% endclient %}
    {% response %}{% call who_is: %query %}{% endresponse %}
{% endblock %}
